.about{
    background-color: #1A0B2E;
}
.about-parent{
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.about-info{
    padding-top: 50px;
}
.about-info h1{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-info p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 30px;
    max-width: 800px;
    margin: 0 auto;
}
.about-p{
   padding-top: 30px;
}
.about-exp{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 160px;
    gap: 80px;
}
.about-card{
    max-width: 240px;
    height: 94px;
}
.about-card h1{
    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;
    margin-bottom: 16px;
}
.about-card p{
    font-size: 1rem;
    color: #FFFFFF;
}
@media screen and (max-width:576px) {
    .about-parent{
        margin: 0px 10px;
    }
    .about-exp{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    }
    .about-info h1{
    font-size: 2.5rem;
}
}