.techwave{
    background-color: #230E3D;
}
.tec-tittel{
  text-align: center;
  padding-top: 120px;
}
.tec-tittel h1{
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: 900;
}
.tech-card{
  display: grid;
  gap: 30px;
  grid-template-areas:
  "one two two"
  "one three three"
  "four four five"
  ;
  margin-top: 40px;
  padding-bottom: 120px;
}
.card{
    background-color: #351165;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 273px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 30px;
}
.card h1{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 800;
    margin-top: 21px;
}
.card p{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 30px;
    margin-top: 16px;
}
.card img{
    max-width: 100%;
}
.one{
    grid-area: one;
}
.two{
     grid-area: two;
}
.three{
     grid-area: three;
}
.four{
     grid-area: four;
}
.five{
     grid-area: five;
}



@media screen and (max-width:576px) {
  .tech-card{
    display: block;
  }
  .card{
    margin-bottom: 16px;
  }
  .tec-tittel h1{
  font-size: 2rem;
}

}